*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu-contanier {
  background: #222;
  border-bottom: 1px solid #555;
  display: flex;
  padding: 15px 30px;
  justify-content: space-around;
  align-items: center;
}
.navbar{
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  font-size: 1rem;
  height: 30px;
  color: white;
}
.navbar a {
  color: white;
  text-decoration:none;
}
.navbar li:hover{
  color: #222;
  cursor: pointer;
  border-bottom: 1px solid #222;
}
.card-container{
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-card{
  font-size: 1.8rem;
  color: white;
  margin-bottom: 30px;
}
.cards-list {
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 600px){
  .menu-contanier{
    height: 100%;
  }
  .navbar{
    display: flex;
    font-size: 0.6rem;
  }
  .menu-img{
    display: none;
  }
  .card-container{
    height: 100%;
  }
  .cards-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.card{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 3px 8px ;
}
.content-name{
  font-size: 1.2rem;
  font-weight: 700;
}
.content-price{
  font-size: 1rem;
  font-weight: 500;
  color: red;
  text-decoration: line-through
}
.content-discount{
  font-size: 1.3rem;
  font-weight: 600;
}
.content-description{
   font-size: 0.8rem;
  font-weight: 400;
}
.btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.btn {
  background-color: rgb(253, 253, 37);
  width: 200px;
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #bdc3c7;
}
footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  background-color: #222;
}
#login{
  position: absolute;
  //top: 0px;
  width: 50%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
   
  -webkit-box-shadow: 5px;
  border-radius: 5px;
   
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
input {
  outline: none;
}
 
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
 
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: rgb(0, 0, 0);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
 
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  transition: all 0.2s linear;
}
 
/*estilo do botão submit no hover */
input[type="submit"]:hover{
  background: #ac1717;
}